.body{
    margin: 0px;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url("Resorces/Background.jpg");
    background-size: cover;
}

.robot{
    position: absolute;
    height: 200px;
    margin-top: 495px;
}